.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height:auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 15px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 0px 15px;
}
.main {
    height: 400px;
    width: 705px;
    background-color: red;
    margin-bottom: 15px ;
}
.sub-content1, .sub-content2, .sub-content3 {
    height: 200px;
    width: 210px;
    background-color: yellow;
}
.sub-content1 {
    margin: 15px 5px 15px 15px;
}
.sub-content2 {
    margin: 15px 5px;
}
.sub-content3 {
    margin: 15px 5px;
}
#advertisement {
    height: 120px;
    width: 651px;
    background-color: purple;
    margin: 240px 15px; 
}
.side-nav,.main {
    float: left;
}
.sub-content1, .sub-content2, .sub-content3 {
    float:left
}